body {
  margin: 0 auto;
  max-width: 80em;
  line-height: 1.5;
  padding: 4em 1em;
  margin-left: 0;
}


h1 {
   color: blue;
   margin-top: 1em;
   padding-top: 1em
 }
h2 {color: red;}
h3 {color: orange;}
a {color: orange;}
li {color: orange;}
.yellow {color: orange;}
.purple {color: purple;}
.red {color: red;}
p { color: orange; }
